Flask==2.2.5
Werkzeug==2.2.2
psycopg2-binary==2.9.5
gunicorn==20.1.0
python-dotenv==0.21.0
requests==2.28.1
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-requests # <-- NOVO: Propaga o contexto para o auth-service
opentelemetry-instrumentation-psycopg2 # <-- NOVO: Desenha a linha até o banco de dados